@charset "utf-8";
/* CSS Document */

#ventanaPopup1Fondo{
	display:none;
	position:fixed;
	_position:absolute; /* caso especial para IE 6*/
	height:100%;
	width: 100%;
	top:0;
	left:0;
	background:#000;
	border: 1px solid #cecece;
	z-index:1;
}

#ventanaPopup1 {
display:none;
position:fixed;
_position:absolute; /* caso especial para IE 6*/
height:384px;
width:408px;
background:#fff;
border: 2px solid #cecece;
z-index: 2;
padding:12px;
font-size:13px;
}

#ventanaPopup1Cerrar{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position: absolute;
color:#6fa5fd;
font-weight:700;
display:block;
}
	
